In [1]:
# importing packages for data analysis
import pandas as pd

In [2]:
cruise = pd.read_csv('/Users/lyanalexandr/downloads/train.csv')

In [ ]:
# empty observations
cruise.isnull().sum()

In [6]:
cruise.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [7]:
# Task 4
def fill_nan(df, target_value):
    """Filling missing values by target value"""
    return df.fillna(target_value)

In [12]:
# Task 5
def avg_age(df):
    """Return average age with 2 decimals"""
    return print(f"{df['Age'].mean():.2f}")

In [3]:
# Task 6
def class_age(df):
    """Return dict object, where key is age and value is number of people of this age"""
    
    # Input name of age column
    age = str(input('Name of column, containing age: '))
    # Name of missing value
    missing_value = str(input('How to fill missing values? \n'))
    
    # Filling missing values
    df[age] = df[age].fillna(missing_value)
    dc = {}
    for age in df[age]:
        if age in dc:
            dc[age] += 1
        else:
            dc[age] = 0
    return dc

In [ ]:
class_age(cruise)

In [11]:
# Task 6
def class_people(df):
    """Return dict object, where key is class and value is number of people of this class"""
    
    # Input name of class column
    col_name = str(input('Name of column, containing pclass: '))
    # Name of missing value
    missing_value = str(input('How to fill missing values? \n'))
    
    # Filling missing values
    df[col_name] = df[col_name].fillna(missing_value)
    
    dc_class = {}
    for pclass in df[col_name]:
        if pclass in dc_class:
            dc_class[pclass] += 1
        else:
            dc_class[pclass] = 0
    return dc_class